<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNGSuite">

    <parameter name="baseUrl" value="https://qa.koel.app/"/>
    <parameter name="browser" value="chrome"/>
    <parameter name="cloudUserName" value=""/>
    <parameter name="cloudAccessKey" value=""/>

    <test name="LoginTest">
        <classes>
            <class name="LoginTests"/>
        </classes>
    </test>

    <test name="RenamePlaylistTest">
        <classes>
            <class name="RenamePlaylist"/>
        </classes>
    </test>

    <test name="DeletePlaylistTest">
        <classes>
            <class name="DeletePlaylist"/>
        </classes>
    </test>

</suite>
